.dashboard-header {
  background: #444;
  margin-bottom: 20px;
  padding: 15px;
}

.dashboard-header .logo a {
  color: white;
  font-weight: bold;
  letter-spacing: -.3px;
}

.dashboard-header a.logo:hover {
  cursor: pointer;
}

.user {
  color: white;
}
